<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324697288611-niv0gldg3s4vkc02fmb1hi6s7orap5li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324697288611-niv0gldg3s4vkc02fmb1hi6s7orap5li</string>
	<key>API_KEY</key>
	<string>AIzaSyDtIQyzfw60M-Dc-ZHsmxfUN3qa3wcGMS8</string>
	<key>GCM_SENDER_ID</key>
	<string>324697288611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JusHalalDelivery</string>
	<key>PROJECT_ID</key>
	<string>jushalal-84b41</string>
	<key>STORAGE_BUCKET</key>
	<string>jushalal-84b41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324697288611:ios:0c21144c6606687fa37416</string>
	<key>DATABASE_URL</key>
	<string>https://jushalal-84b41.firebaseio.com</string>
</dict>
</plist>